body
{
	background-color: #f5f5f5 !important;
}
.link-track
{
	border-bottom: 1px solid #b1b1b1;
	padding-bottom: 10px;
}
.link-track li
{
	list-style: none;
	display: inline-block;
}
.link-track li a
{
	text-decoration: none;
}
.cv-body
{
	padding: 40px;
}
.form-row
{
	width: 100%;
	height: 90px;
}
.form-group
{
	width: 47.5%;
	float: left;
}
.form-group2
{
	width: 47.5%;
	float: right;
}
.button-group
{
	width: 100%;
	text-align: center;
}
.next-button
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 35px;
	padding-left: 35px;
	background-color: #02aaf5;
	color: #fff;
	border: 2px solid #02aaf5;
}
.form-group input
{
	border: 1px solid #838182;
}
.form-group2 input
{
	border: 1px solid #838182;
}
.form-group-single textarea
{
	height: 200px !important;
}


.subtitle
{
	color: #000;
	font-size: 1.6rem;
}
.center
{
	text-align: center;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #03a9f5;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 12%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e";
    color: #fb813e;
    background-color: #fff;
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
    color: #fb813e;
    background-color: #fff;
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030";
    color: #fb813e;
    background-color: #fff;
}

#progressbar #education:before {
    font-family: FontAwesome;
    content: "\f02d";
    color: #fb813e;
    background-color: #fff;
}

#progressbar #skills:before {
    font-family: FontAwesome;
    content: "\f005";
    color: #fb813e;
    background-color: #fff;
}

#progressbar #reference:before {
    font-family: FontAwesome;
    content: "\f0c0";
    color: #fb813e;
    background-color: #fff;
}

#progressbar #more-info:before {
    font-family: FontAwesome;
    content: "\f08d";
    color: #fb813e;
    background-color: #fff;
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
    color: #fb813e;
    background-color: #fff;
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #03a9f5 !important;
    color: #fff !important;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #03a9f5
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.form-card
{
    background-color: #fff !important;
    padding: 20px !important;
}
.single-field
{
    padding: 10px;
    background-color: #fff;
    width: 100%;
    height: 70px;
}
.function
{
    float: left;
}
.function-title
{
    color: #fb813e;
    font-weight: bold;
}
.function-company
{
    font-weight: bold;
}
.edit-button
{
    float: right;
    width: 100px;
    background-color: #151e27;
    height: 40px;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}
.save-button
{
    float: right;
    width: 100px;
    background-color: #fb813e;
    height: 40px;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}
.primary-color
{
    color: #03a9f5 !important;
}
.bottom-buttons-group
{
    width: 100% !important;
    text-align: center !important;
}
.skills-title
{
    font-weight: bold;
}
.second-color
{
    color: #fb813e !important;
}

#strengthsbar {
  background-color: #e1e1e1;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#strengthsbar>div {
  background-color: #151e27;
  width: 80%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}
.photo-file-group
{
    margin-top: 2px;
}
.photo-file-icon
{
    background-color: #151e27;
    color: #fff;
    padding: 10px;
}
.current-certificate-file
{
    background-color: #151e27;
    color: #fff;
    padding: 10px;
}
.attachement-file-icon
{
    background-color: #151e27;
    color: #fff;
    padding: 13px;
}
.save-edit-button-group
{
    width: 100%;
    clear: both;
}
.save-edit-button
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #02aaf5;
    color: #fff;
    width: 200px;
    border: 2px solid #02aaf5;
    margin-left: 42%;
}
.full-strength
{
    background-color: #151e27;
    color: #151e27;
    width: 24%;
    margin-left: 1px;
    height: 35px;
    float: left;
}
.empty-strength
{
    background-color: #e1e1e1;
    color: #e1e1e1;
    width: 24%;
    margin-left: 1px;
    height: 35px;
    float: left;
}
.empty-strength:hover
{
    background-color: #151e27;
    color: #151e27;
}
.start-strength
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.end-strength
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.to-date-form-group
{
    width: 47.5%;
    float: right;
}
.end-date
{
    width: 100% !important;
    float: left;
}
.ungoing-checkbox
{
    width: 20%;
    float: right;
}
input[name=disabledToDate] {
    pointer-events: none;
    background-color: #e1e1e1;
}
.search-form-group
{
    width: 47.5%;
    float: left;
    border: 1px solid #838182;
    background-color: #fff !important;
}
.search-form-group i
{
    width: 4% !important;
    float: left !important;
    padding: 10px;
}
.search-form-group input
{
    background-color: transparent !important;
    border: 2px solid transparent !important;
    width: 94% !important;
    float: right !important;
    padding-left: 1px !important; 
}


























    #owl-demo .item{
      /*margin: 10px;*/
      padding: 10px;
      text-align: center;
    }
    .customNavigation{
      text-align: center;
    }
    .customNavigation a{
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .brands_slider_container {
    /*height: 130px;*/
    padding-left: 80px;
    padding-right: 80px;
} 



.brands_nav {
    position: absolute;
    top: 115% !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #000; /*e5e5e5*/
    font-size: 1.8rem !important;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}
.brands_prev {
    left: 3%;
}

.brands_next {
    right: 3%;
}





.in-image
{
    width: 100% !important;
    height: 500px !important;
}
.top-in-title
{
    margin-top: -250px !important;
    text-align: center !important;
    color: #fff !important;
}
.in-cv-body
{
    margin-top: 150px !important;
}
.customized
{
    float: left;
    width: 40%;
    text-align: center;
}
.in-title
{
    line-height: 1.8 !important;
}
.or
{
    float: left;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px !important;
    font-size: 1.9rem !important;
}
.in-body
{
    line-height: 1.8 !important;
    margin-top: 15px !important;
}
.existing
{
    float: right;
    width: 40%;
    text-align: center;
}

.get-started-button
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #02aaf5;
    color: #fff;
    border: 2px solid #02aaf5;
}
.entry-title
{
    font-size: 2.5rem !important;
    text-align: center !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.view-more-jobs-button
{
    text-align: center !important;
}
.view-more-jobs-button a
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #151e27;
    color: #fff;
    border: 2px solid #02aaf5;
}
.job-description
{
    width: 60% !important;
    float: left !important;
    background-color: #ffffff !important;
    padding: 20px !important;
}
.right-overview
{
    width: 38% !important;
    float: right !important;
}
.job-overview
{
    background-color: #fff !important;
    width: 100% !important;
    padding: 20px !important;
}
.side-system-ad
{
    width: 100% !important;
}
.more-templates
{
    width: 60% !important;
    float: left;
}
.cv-preview
{
    width: 38% !important;
    float: right !important;
}
.first-templates-row
{
    width: 100% !important;
}
.first-templates-row img
{
    width: 30% !important;
    margin-left: 2% !important;
}
.second-templates-row
{
    width: 100% !important;
}
.second-templates-row img
{
    width: 30% !important;
    margin-left: 2% !important;
}
.cv-name-form
{
    float: right;
    width: 37% !important;
    margin-top: 20px !important;
}




















.finish-button
{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #02aaf5;
    color: #fff;
    border: 2px solid #02aaf5;
}
.cover-letter-form
{
    width: 60% !important;
    float: right !important;
}
.cover-letters-templates
{
    width: 38% !important;
    float: left;
}
.cover-letters-templates img
{
    width: 40% !important;
    margin-left: 5% !important;
    float: left;
}
.cover-letter textarea
{
    height: 600px !important;
}



.cover-letter-search-form-group
{
    width: 90%;
    float: left;
    border: 1px solid #838182;
    background-color: #fff !important;
}
.cover-letter-search-form-group i
{
    width: 4% !important;
    float: left !important;
    padding: 10px;
}
.cover-letter-search-form-group-input
{
    background-color: transparent !important;
    border: 2px solid transparent !important;
    min-width: 92% !important;
    max-width: 92% !important;
    float: right !important;
    padding-left: 1px !important; 
}













